

						<div class="main-containera">

									<div class="container-fluid">

										<div class="page-breadcrumb">

											<div class="row">

												<div class="col-md-7">

													<div class="page-breadcrumb-wrap">

														<div class="page-breadcrumb-info">

															<h2 class="breadcrumb-titles">Welcome Demo </h2>

															

														</div>

													</div>

												</div>

												<div class="col-md-5">

												</div>

											</div>

										</div>

										<div style="padding:10px !important; border:solid 1px #ddd; background:#fff !important;">
										<div class="row">

											<div class="col-md-4 col-sm-6">

												<div class="panel panel" style="background:#9CF;">

													<div class="panel-heading">
													
													<div class="row">

														<div class="col-xs-3"><i class="fa fa-comments fa-5x"></i></div>

														
															<div class="col-xs-9 text-right">
															<div style="font-size: 23px;" >2062</div>
															</div>
																								<div class="col-xs-9 text-right">
															<div style="font-size: 15px;" >0</div>
															</div>
																							</div>
														
													   

													</div>
													 <div class="primary" style="background:#069;">
													 <div class="panel-heading">
													 <div class="row" style="height:18px;margin-left:2px;">
														<span style="color:white;font-size:15px;">PROMOTIONAL (P) </span>
														</div>
													   </div> 
														</div>

													

												</div>

											</div>
											
											<div class="col-md-4 col-sm-6">

												<div class="panel panel" style="background:#02DAC5;">

													<div class="panel-heading">
													
													<div class="row">

														<div class="col-xs-3"><i class="fa fa-comments fa-5x"></i></div>

														
															<div class="col-xs-9 text-right">
															<div style="font-size: 23px;" >10</div>
															</div>
																								<div class="col-xs-9 text-right">
															<div style="font-size: 15px;" >0</div>
															</div>
																							</div>
														
													   

													</div>
													 <div class="primary" style="background:#135E57;">
													 <div class="panel-heading">
													 <div class="row" style="height:18px;margin-left:2px;">
														<span style="color:white;font-size:15px;">PROMOTIONAL 1 (P1) </span>
														</div>
													   </div> 
														</div>

													

												</div>

											</div>
											
											<div class="col-md-4 col-sm-6">

												<div class="panel panel-info">

													<div class="panel-heading">
													
													<div class="row">

														<div class="col-xs-3"><i class="fa fa-comments fa-5x"></i></div>

														
															<div class="col-xs-9 text-right">
															<div style="font-size: 23px;" >32</div>
															</div>
																								<div class="col-xs-9 text-right">
															<div style="font-size: 15px;" >3</div>
															</div>
																							</div>
														
													   

													</div>
													 <div class="info" style="background:#0064C7;">
													 <div class="panel-heading">
													 <div class="row" style="height:18px;margin-left:2px;">
														<span style="color:white;font-size:15px;">PROMOTIONAL SENDER ID (PSI) </span>
														</div>
													   </div> 
														</div>

													

												</div>

											</div>

											<div class="col-md-4 col-sm-6">

												<div class="panel panel-danger">

													<div class="panel-heading">
													
													<div class="row">

														<div class="col-xs-3"><i class="fa fa-comments fa-5x"></i></div>

														
															<div class="col-xs-9 text-right">
															<div style="font-size: 23px;" >3</div>
															</div>
																								<div class="col-xs-9 text-right">
															<div style="font-size: 15px;" >0</div>
															</div>
																							</div>
														
													   

													</div>
													 <div class="danger" style="background:#C36;">
													 <div class="panel-heading">
													 <div class="row" style="height:18px;margin-left:2px;">
														<span style="color:white;font-size:15px;">TRANSACTIONAL (T) </span>
														</div>
													   </div> 
														</div>

													

												</div>

											</div>
											
											<div class="col-md-4 col-sm-6">

												<div class="panel panel-danger">

													<div class="panel-heading">
													
													<div class="row">

														<div class="col-xs-3"><i class="fa fa-comments fa-5x"></i></div>

														
															<div class="col-xs-9 text-right">
															<div style="font-size: 23px;" >9</div>
															</div>
																								<div class="col-xs-9 text-right">
															<div style="font-size: 15px;" >49</div>
															</div>
																							</div>
														
													   

													</div>
													 <div class="danger" style="background:#C36;">
													 <div class="panel-heading">
													 <div class="row" style="height:18px;margin-left:2px;">
														<span style="color:white;font-size:15px;">TRANSACTIONAL 2 (T2) </span>
														</div>
													   </div> 
														</div>

													

												</div>

											</div>
											<div class="col-md-4 col-sm-6">

												<div class="panel panel-warning">

													<div class="panel-heading">
													
													<div class="row">

														<div class="col-xs-3"><i class="fa fa-comments fa-5x"></i></div>

														
															<div class="col-xs-9 text-right">
															<div style="font-size: 23px;" >10</div>
															</div>
																								<div class="col-xs-9 text-right">
															<div style="font-size: 15px;" >0</div>
															</div>
																							</div>
														
													   

													</div>
													 <div class="warning" style="background:#EA9E06;">
													 <div class="panel-heading">
													 <div class="row" style="height:18px;margin-left:2px;">
														<span style="color:white;font-size:15px;">PROMOTIONAL API  (PA) </span>
														</div>
													   </div> 
														</div>

													

												</div>

											</div>
											<div class="col-md-4 col-sm-6">

												<div class="panel panel-success">

													<div class="panel-heading">
													
													<div class="row">

														<div class="col-xs-3"><i class="fa fa-comments fa-5x"></i></div>

														
															<div class="col-xs-9 text-right">
															<div style="font-size: 23px;" >10</div>
															</div>
																								<div class="col-xs-9 text-right">
															<div style="font-size: 15px;" >0</div>
															</div>
																							</div>
														
													   

													</div>
													 <div class="success" style="background:#096;">
													 <div class="panel-heading">
													 <div class="row" style="height:18px;margin-left:2px;">
														<span style="color:white;font-size:15px;">PROMOTIONAL S.ID API  (PSA) </span>
														</div>
													   </div> 
														</div>

													

												</div>

											</div>
											
											<div class="col-md-4 col-sm-6">

												<div class="panel panel" style="background:#C9C;">

													<div class="panel-heading">
													
													<div class="row">

														<div class="col-xs-3"><i class="fa fa-comments fa-5x"></i></div>

														
															<div class="col-xs-9 text-right">
															<div style="font-size: 23px;" >10</div>
															</div>
																								<div class="col-xs-9 text-right">
															<div style="font-size: 15px;" >0</div>
															</div>
																							</div>
														
													   

													</div>
													 <div class="primary" style="background:#96C;">
													 <div class="panel-heading">
													 <div class="row" style="height:18px;margin-left:2px;">
														<span style="color:white;font-size:15px;">TRANSACTIONAL API  (TA) </span>
														</div>
													   </div> 
														</div>

													

												</div>

											</div>
											
											<div class="col-md-4 col-sm-6">
												
												<div class="panel panel" style="background:#FC9;">

													<div class="panel-heading">
													
													<div class="row">

														<div class="col-xs-3"><i class="fa fa-comments fa-5x"></i></div>

														
															<div class="col-xs-9 text-right">
															<div style="font-size: 23px;color:F90;" >Rs. 0</div>
															</div>
															

														</div>
														
													   

													</div>
													 <div class="primary" style="background:#F7830F;">
													 <div class="panel-heading">
													 <div class="row" style="height:18px;margin-left:2px;">
														<span style="color:white;font-size:15px;">VOICE CALL  </span>
														</div>
													   </div> 
														</div>

													

												</div>

											</div>
											
											
											<div class="col-md-4 col-sm-6">

												<div class="panel panel warning">

													<div class="panel-heading">
													
													<div class="row">

														<div class="col-xs-3"><i class="fa fa-comments fa-5x"></i></div>

														
															<div class="col-xs-9 text-right">
															<div style="font-size: 23px;" >Rs. 0</div>
															</div>
																								<div class="col-xs-9 text-right">
															<div style="font-size: 15px;" >Rs. 0</div>
															</div>
															
														</div>
														
													   

													</div>
													</div>
													
													
													 <div class="warning" style="margin-top: -21px;">
													 <div class="panel-heading" style="background:#096;">
													 <div class="row" style="height:18px;margin-left:2px;">
														<span style="font-size:15px;">SOCIAL MEDIA </span>
													   </div>
													   </div> 
													   </div>

													

												</div>

											
											<div class="col-md-4 col-sm-6">

												<div class="panel panel" style="background:#FC9;">

													<div class="panel-heading">
													
													<div class="row">

														<div class="col-xs-3"><i class="fa fa-comments fa-5x"></i></div>

														
															<div class="col-xs-9 text-right">
															<div style="font-size: 23px;color:F90;" >0</div>
															</div>
																								<div class="col-xs-9 text-right">
															<div style="font-size: 15px;color:F90;" >0</div>
															</div>
															
														</div>
														
													   

													</div>
													 <div class="primary" style="background:#F7830F;">
													 <div class="panel-heading">
													 <div class="row" style="height:18px;margin-left:2px;">
														<span style="color:white;font-size:15px;">BULK EMAIL  </span>
														</div>
													   </div> 
														</div>

													

												</div>
										
										
									   
										
											</div>
											<div class="col-md-4 col-sm-6">

												<div class="panel panel primary" style="background:#FFAC99;">

													<div class="panel-heading">
													
													<div class="row">

														<div class="col-xs-3"><i class="fa fa-android fa-5x"></i></div>

														
															<div class="col-xs-9 text-right">
															<div style="font-size: 23px;color:#F7240F;" >0</div>
															</div>
															

														</div>
														
													   

													</div>
													 <div class="primary" style="background:#F7240F;">
													 <div class="panel-heading">
													 <div class="row" style="height:18px;margin-left:2px;">
														<span style="color:white;font-size:15px;"> ANDROID APP INSTALLATION  </span>
														</div>
													   </div> 
														</div>
						</div>
													

												</div>
										
											</div>
						</div>
											<div class="row" style="padding:10px !important; background:#fff !important;max-width: 100% !important;
							margin-left: -1px !important; ">
											<div class="col-md-4 col-sm-6" style="margin-left: -11px;">

												<div class="panel panel primary" style="background:#FFAC99;">

													<div class="panel-heading">
													
													<div class="row">

														<div class="col-xs-3"><i class="fa fa-comments fa-5x"></i></div>

														
															<div class="col-xs-9 text-right">
															<div style="font-size: 23px;color:#F7240F;" >0</div>
															</div>
																								<div class="col-xs-9 text-right">
															<div style="font-size: 15px;color:F90;" >0</div>
															</div>
																								

														</div>
														
													   

													</div>
													 <div class="primary" style="background:#F7240F;">
													 <div class="panel-heading">
													 <div class="row" style="height:18px;margin-left:2px;">
														<span style="color:white;font-size:15px;"> INTERNATIONAL </span>
														</div>
													   </div> 
														</div>

													

												</div>
										</div>
											</div>
											

											</div>
											


										   
											

											
											</div>
							