  <div class="left-navigation">

            <ul class="list-accordion">

                

                <li><a href="home.html" class="waves-effect"><span class="nav-icon"><i class="fa fa-align-justify"></i></span><span class="nav-label">Dashboard</span></a>

                </li>

                 
                

               <li><a href="#" class="waves-effect"><span class="nav-icon"><i class="fa fa-comments"></i></span><span class="nav-label">SMS</span></a>

                    <ul>

                        <li><a href="http://manage.staticking.net/index.php/sms/composesms">Compose SMS</a>

                        </li>

                        <li><a href="http://manage.staticking.net/index.php/sms/allsentsms">All Sent Sms</a>

                        </li>

                        <li><a href="http://manage.staticking.net/index.php/sms/schedule">Schedule Sms</a>

                        </li>
                         
                       <li><a href="http://manage.staticking.net/index.php/sms/dynamicsms">Dynamic Sms</a>

                        </li>

                        

                        

                    </ul>

                </li>
                
                <li><a href="#" class="waves-effect"><span class="nav-icon"><i class="fa fa-microphone"></i></span><span class="nav-label">Voice SMS</span></a>

                    <ul>
                    
                    	<li><a href="http://manage.staticking.net/index.php/sms/uploadvoicefile">Upload Voice File</a>

                        </li>
                        <li><a href="http://manage.staticking.net/index.php/sms/mysounds">View Voice Files</a>

                        </li>
                        
                        <li><a href="http://manage.staticking.net/index.php/sms/voicesms">Compose Voice SMS</a>

                        </li>

                        <li><a href="http://manage.staticking.net/index.php/sms/allvoicesentsms">All Sent Voice Sms</a>

                        </li>
                        
                                                 <li><a href="http://manage.staticking.net/index.php/pages/voicespecialprice">Add Voice Special Price</a>

                        </li>
                        
                        <li><a href="http://manage.staticking.net/index.php/pages/voicespecialpricelist">View Voice Special Price</a>

                        </li>
                                                
                        

                    </ul>

                </li>

                
                
                <li><a href="#" class="waves-effect"><span class="nav-icon"><i class="fa fa-phone"></i></span><span class="nav-label">Miss Call Alerts</span></a>

                    <ul>
                                                
                        <li><a href="http://manage.staticking.net/index.php/pages/viewmisscall">View Miss Call Alerts</a>

                        </li>
                        
                        
                    </ul>

                </li>

                 <li><a href="#" class="waves-effect"><span class="nav-icon"><i class="fa fa-th"></i></span><span class="nav-label">Short/Long Code</span></a>

                    <ul>
                                                
                        <li><a href="http://manage.staticking.net/index.php/pages/viewlongcode">View Short/Long Code</a>

                        </li>
                        
                        
                    </ul>

                </li>
                
                
               
                <li><a href="#" class="waves-effect"><span class="nav-icon"><i class="fa fa-facebook-official"></i></span><span class="nav-label">Social Media</span></a>

                    <ul>        
                         
                        
                                                 <li><a href="http://manage.staticking.net/index.php/social/addpackage">Add Package</a></li>
                        <li><a href="http://manage.staticking.net/index.php/social/viewpackage">View Package</a></li>
                                                <li><a href="http://manage.staticking.net/index.php/social/placeorder">Place Order</a></li>
                        <li><a href="http://manage.staticking.net/index.php/social/vieworder">View Order</a></li>
                        <li><a href="http://manage.staticking.net/index.php/social/socialpricing">Social Pricing</a></li>

                        
                    </ul>

                </li>
                
                <li><a href="#" class="waves-effect"><span class="nav-icon"><i class="fa fa-android"></i></span><span class="nav-label">Android App Installation</span></a>

                    <ul>

                        <li><a href="http://manage.staticking.net/index.php/andriodapp/add">Place Order</a>

                        </li>
                        
                        <li><a href="http://manage.staticking.net/index.php/andriodapp/viewcampaign">View Order</a>

                        </li>
                                                <li><a href="http://manage.staticking.net/index.php/andriodapp/pricing">Pricing</a>

                        </li>
                        
                       
                    </ul>

                </li>


                
                
                
                
                 <li><a href="#" class="waves-effect"><span class="nav-icon"><i class="fa fa-file"></i></span><span class="nav-label">Others</span></a>

                    <ul>

                        <li><a href="http://manage.staticking.net/index.php/sms/smstemplate">Add Template</a>

                        </li>
                        
                        <li><a href="http://manage.staticking.net/index.php/sms/viewsmstemplate">View Templates</a>

                        </li>
                        
                        <li><a href="http://manage.staticking.net/index.php/sms/newgroup">Add Group</a>

                        </li>
                        
                        <li><a href="http://manage.staticking.net/index.php/sms/viewgroup">View Group</a>

                        </li>
                    </ul>

                </li>

				 
                
                
                

                

                
                <li><a href="#" class="waves-effect"><span class="nav-icon"><i class="fa fa-user"></i></span><span class="nav-label">Users</span></a>

                    <ul>

                        <li><a href="http://manage.staticking.net/index.php/pages/addusers">Add Users</a>

                        </li>

                        <li><a href="http://manage.staticking.net/index.php/pages/viewusers">View Users</a>

                        </li>

                        

                    </ul>

                </li>

                
                 
                <li><a href="#" class="waves-effect"><span class="nav-icon"><i class="fa fa-users"></i></span><span class="nav-label">Reseller</span></a>

                    <ul>

                        <li><a href="http://manage.staticking.net/index.php/pages/addresellers">Add Reseller</a>

                        </li>

                        <li><a href="http://manage.staticking.net/index.php/pages/viewreseller">View Reseller</a>

                        </li>
                                                 <li><a href="http://manage.staticking.net/index.php/pages/usersmpp">Add Your Smpp</a>

                        </li>
						                        

                    </ul>

                </li>

                                
                 
               

                

                

                <li><a href="#" class="waves-effect"><span class="nav-icon"><i class="fa fa-cogs"></i></span><span class="nav-label">Settings</span></a>

                    <ul>

						                         <li><a href="http://manage.staticking.net/index.php/pages/viewusersmpp">Client Smpp</a>

                        </li> 
                                                
						
                        <li><a href="http://manage.staticking.net/index.php/settings/changeusertype">Change User Type</a>

                        </li>
							
                            
                         

                    							
                        <li><a href="http://manage.staticking.net/index.php/settings/transfercredits">Transfer Credits</a></li>

                                                
                        
                        
                        
                                                
                        
                        
                        

                         <li><a href="http://manage.staticking.net/index.php/settings/transsactionin">Transactions In</a>

                        </li>



                        <li><a href="http://manage.staticking.net/index.php/settings/transsactionout">Transactions Out</a>

                        </li>

                        <li><a href="http://manage.staticking.net/index.php/pages/myshorturls">My Short Urls</a>

                        </li>

						<li><a href="http://manage.staticking.net/index.php/settings/smsapi">HTTP API</a>

                        </li>
                        
                        <li><a href="http://manage.staticking.net/index.php/settings/bulksmsapi">Bulk SMS API</a>

                        </li>

                        <li><a href="http://manage.staticking.net/index.php/settings/xmlapi">XML API</a>

                        </li>
                        
                        <li><a href="http://manage.staticking.net/index.php/settings/creditapi">Credits API</a>

                        </li>
                        
                        <li><a href="http://manage.staticking.net/index.php/settings/deliveryapi">Delivery API</a>

                        </li>
                        
                        

                                                
                        
                        
                        <li><a href="http://manage.staticking.net/index.php/settings/allsenderids">View Sender IDs</a>

                        </li>

                        
                        

                        
                        <li><a href="http://manage.staticking.net/index.php/settings/actualcredits">View Actual Credits</a>

                        </li>

                        

						                        
                                                 <li><a href="http://manage.staticking.net/index.php/settings/notifications">Send Notifications</a>

                        </li>
                                                 

                        
                        <li><a href="http://manage.staticking.net/index.php/settings/deliverycutting">Delivery Cutting</a>

                        </li>

                        
                        

                        
                        <li><a href="http://manage.staticking.net/index.php/settings/deliveryusers">Delivery Cutting Users List</a>

                        </li>

                                                  
                         
                         
                        <li><a href="http://manage.staticking.net/index.php/settings/website">Website Settings</a>

                        </li>
						
                                                  <li><a href="http://manage.staticking.net/index.php/settings/checkdnd">Check DND Number</a>
                         <li><a href="http://manage.staticking.net/index.php/settings/blocknumber">Block Number</a>

                        </li>
                        
                                                                        <li><a href="http://manage.staticking.net/index.php/settings/mysmpptransactions">My Transactions</a></li>
                        <li><a href="http://manage.staticking.net/index.php/settings/smppmycredits">Available Credits</a></li>
												
                        

                    </ul>

                </li>

                      

               

               

            </ul>

        </div>
 
    </div>
     