		 
						<header class="top-bar">

									<div class="container-fluid top-nav">

										<div class="search-form search-bar">

											

											<span class="search-close waves-effect"><i class="ico-cross"></i></span>

										</div>

										<div class="row">

											<div class="col-md-2">

												<div class="clearfix top-bar-action">

													<span class="leftbar-action-mobile waves-effect"><i class="fa fa-bars "></i></span>

													<span class="leftbar-action desktop waves-effect"><i class="fa fa-bars "></i></span>

												

													<span class="rightbar-action waves-effect"><i class="fa fa-bars"></i></span>

												</div>

											</div>


																
																<div class="col-md-4 responsive-fix top-mid">

												<div class="notification-nav">

													<ul class="clearfix">
												
												<li class="dropdown whenuserread" >
												
												<a href="#"  data-toggle="dropdown" class="hide-small-device waves-effect "><i class="fa fa-bell"></i>
																		</a>
												
													<div role="menu" class="dropdown-menu notification-dropdown fadeInUp noty-lists hide-small-device">
														<div class="notification-wrap">
															<h4>You have 0 new notifications</h4>
															<ul>
																										<li><a href="http://manage.staticking.net/index.php/settings/usernotifications" class="clearfix"><span class="ni w-green"><i class="fa fa-bullhorn"></i></span><span class="notification-message">Please don't use @ symbol  in between the content on transactional 2 route.. we ware working on it. will fix it asap. thanks.
						 <span class="notification-time clearfix">2017-02-20 13:18:51  </span></span></a>
																</li>
																										<li><a href="http://manage.staticking.net/index.php/settings/usernotifications" class="clearfix"><span class="ni w-green"><i class="fa fa-bullhorn"></i></span><span class="notification-message">promosid route is under maintenance due to some errors. We are working on the issue and fix it asap. <span class="notification-time clearfix">2017-02-17 14:10:35  </span></span></a>
																</li>
																										<li><a href="http://manage.staticking.net/index.php/settings/usernotifications" class="clearfix"><span class="ni w-green"><i class="fa fa-bullhorn"></i></span><span class="notification-message">Transactional 2 route is under maintenance, so messages will delivered with delay... sorry for the inconvenience. thanks. <span class="notification-time clearfix">2017-02-04 13:28:44  </span></span></a>
																</li>
																										<li><a href="http://manage.staticking.net/index.php/settings/usernotifications" class="clearfix"><span class="ni w-green"><i class="fa fa-bullhorn"></i></span><span class="notification-message">Wishing You a very Happy Republic Day 
						--
						System Admin <span class="notification-time clearfix">2017-01-26 10:51:14  </span></span></a>
																</li>
																										<li><a href="http://manage.staticking.net/index.php/settings/usernotifications" class="clearfix"><span class="ni w-green"><i class="fa fa-bullhorn"></i></span><span class="notification-message">Dear Team,

						Route: Transactional Route
						With further efforts to optimize our SMPP platform performance and scalability, we are making updates to our servers, which may affect services to the customers.
						The maintenance will be performed on January 25th duri <span class="notification-time clearfix">2017-01-25 14:25:04  </span></span></a>
																</li>
																									</ul>
															<a class="btn btn-primary btn-block notification-btn clearfix waves-effect" href="http://manage.staticking.net/index.php/settings/usernotifications"><span>View All</span></a>
														</div>
													</div>
												</li>
												
																	</ul>

												</div>

											   

											</div>

											
											
											<div class="col-md-6 responsive-fix">

												<div class="top-aside-right">
														
													  
													<div class="user-nav">

														<ul>

															<li class="dropdown">

																<a data-toggle="dropdown" href="#" class="clearfix dropdown-toggle waves-effect waves-block waves-classic">

																	<span class="user-info">Demo <cite>manage.staticking.net</cite></span>

																	<span class="user-thumb" style="background:#15BDC3;" >
																	
																												<p style="font-size:36px;color:white;margin-left:12px;">D</p>
																	
																												
																	
																	
																	</span>

																</a>

																<ul role="menu" class="dropdown-menu fadeInUp">

																	<li><a href="http://manage.staticking.net/index.php/pages/userprofile"><span class="user-nav-icon"><i class="fa fa-user"></i></span><span class="user-nav-label">User Profile</span></a>

																	</li>

																	<li><a href="http://manage.staticking.net/index.php/pages/logout"><span class="user-nav-icon"><i class="fa fa-lock"></i></span><span class="user-nav-label">Logout</span></a>

																	</li>

																</ul>

															</li>

														</ul>

													</div>
													
																				

													<span class="rightbar-action waves-effect"><i class="fa fa-bars"></i></span>

												</div>

											</div>

										</div>

									</div>

								</header>
							