
<div class="right-aside">

    <div class="aside-branding">

        <div class="aside-tab">

            <ul class="nav nav-tabs pull-left">

                <li class="active"><a href="#coversetaion"  data-toggle="tab" data-tooltip="tooltip" data-placement="bottom" title="Credits" class="waves-effect"><i class="fa fa-comments"></i></a>

                </li>

                <li><a href="#server-stats" data-toggle="tab" data-tooltip="tooltip" data-placement="bottom" title="Actual Credits" class="waves-effect"><i class="fa fa-comments"></i></a>

                </li>
               <!-- <li><a href="#notifications" data-toggle="tab" data-tooltip="tooltip" data-placement="bottom" title="Notifications" class="waves-effect aside-notifications"><i class="fa fa-bell"></i><span class="alert-bubble">10</span></a>

                </li>-->

            </ul>

        </div>

        <span class="rightbar-action waves-effect"><i class="fa fa-times"></i></span>

    </div>

    <div class="aside-tab-wigets">

    <div class="tab-content">

    <div class="tab-pane active" id="coversetaion">

        

        <div class="block-content chat-user-list">

            <span class="piechart"></span>
			
            <h3 class="clearfix"><br /><span class="pull-left">Credits</span><span class="pull-right online-counter"></span></h3>

            <ul class="chat-list">
				
                
                <li class="chat-u-online">

                    <a href="#"><span class="chat-u-info">Promotional<cite>Route</cite></span></a>

                    <span class="chat-u-status" style="color:green;">2062</span>

                </li>
                
                <li class="chat-u-online">

                    <a href="#"><span class="chat-u-info">Promotional 1<cite>Route</cite></span></a>

                    <span class="chat-u-status" style="color:green;">10</span>

                </li>
                
              
				
                 <li class="chat-u-online">

                    <a href="#"><span class="chat-u-info">Promo Sender ID<cite>Route</cite></span></a>

                    <span class="chat-u-status" style="color:green;">32</span>

                </li>
    
				
                <li class="chat-u-online">

                    <a href="#"><span class="chat-u-info">Transactional<cite>Route</cite></span></a>

                    <span class="chat-u-status" style="color:green;">3</span>

                </li>
                
                <li class="chat-u-online">

                    <a href="#"><span class="chat-u-info">Transactional 2<cite>Route</cite></span></a>

                    <span class="chat-u-status" style="color:green;">9</span>

                </li>
                
               
				
 
                <li class="chat-u-online">

                    <a href="#"><span class="chat-u-info"> API Promotional  (PA)<cite>Route</cite></span></a>

                    <span class="chat-u-status" style="color:green;">10</span>

                </li>
				
                
                
                <li class="chat-u-online">

                    <a href="#"><span class="chat-u-info"> API Promo Sender ID  (PSA)<cite>Route</cite></span></a>

                    <span class="chat-u-status" style="color:green;">10</span>

                </li>
                
				
                
                
                <li class="chat-u-online">

                    <a href="#"><span class="chat-u-info"> API Transactional  (TA)<cite>Route</cite></span></a>

                    <span class="chat-u-status" style="color:green;">10</span>

                </li>
				
                
                <li class="chat-u-online">

                    <a href="#"><span class="chat-u-info">Voice Sms<cite>Route</cite></span></a>

                    <span class="chat-u-status" style="color:green;">Rs. 0</span>

                </li>
                
                <li class="chat-u-online">

                    <a href="#"><span class="chat-u-info">Social Media<cite>Route</cite></span></a>

                    <span class="chat-u-status" style="color:green;">Rs. 0</span>

                </li>
                
                <li class="chat-u-online">

                    <a href="#"><span class="chat-u-info">Bulk Email<cite>Route</cite></span></a>

                    <span class="chat-u-status" style="color:green;">Rs. 0</span>

                </li>
                
                <li class="chat-u-online">

                    <a href="#"><span class="chat-u-info">Android App Installation<cite>Route</cite></span></a>

                    <span class="chat-u-status" style="color:green;">Rs. 0</span>

                </li>
				


            </ul>

            

            

        </div>

    </div>
	    <div class="tab-pane" id="server-stats">

        <div class="block-content chat-user-list">

            <span class="piechart"></span>
			
            <h3 class="clearfix"><br /><span class="pull-left">Actual Credits</span><span class="pull-right online-counter"></span></h3>

            <ul class="chat-list">
				
                
                <li class="chat-u-online">

                    <a href="#"><span class="chat-u-info">Promotional<cite>Route</cite></span></a>

                    <span class="chat-u-status" style="color:green;">0</span>

                </li>
                
                <li class="chat-u-online">

                    <a href="#"><span class="chat-u-info">Promotional1<cite>Route</cite></span></a>

                    <span class="chat-u-status" style="color:green;">0</span>

                </li>
                
               
				
                 <li class="chat-u-online">

                    <a href="#"><span class="chat-u-info">Promo Sender ID<cite>Route</cite></span></a>

                    <span class="chat-u-status" style="color:green;">3</span>

                </li>
                
               
                
				
                <li class="chat-u-online">

                    <a href="#"><span class="chat-u-info">Transactional<cite>Route</cite></span></a>

                    <span class="chat-u-status" style="color:green;">0</span>

                </li>
                
                <li class="chat-u-online">

                    <a href="#"><span class="chat-u-info">Transactional 2<cite>Route</cite></span></a>

                    <span class="chat-u-status" style="color:green;">49</span>

                </li>
                
                
				
               
                
                <li class="chat-u-online">

                    <a href="#"><span class="chat-u-info">API Promotional (PA)<cite>Route</cite></span></a>

                    <span class="chat-u-status" style="color:green;">0</span>

                </li>
				
                
                
                <li class="chat-u-online">

                    <a href="#"><span class="chat-u-info">API Promo Sender ID (PSA)<cite>Route</cite></span></a>

                    <span class="chat-u-status" style="color:green;">0</span>

                </li>
                
				
               
                
                <li class="chat-u-online">

                    <a href="#"><span class="chat-u-info">API Transactional (TA)<cite>Route</cite></span></a>

                    <span class="chat-u-status" style="color:green;">0</span>

                </li>
				
               
                
               
                
                <li class="chat-u-online">

                    <a href="#"><span class="chat-u-info">Social Media<cite>Route</cite></span></a>

                    <span class="chat-u-status" style="color:green;">Rs. 0</span>

                </li>
                
                <li class="chat-u-online">

                    <a href="#"><span class="chat-u-info">Bulk Email<cite>Route</cite></span></a>

                    <span class="chat-u-status" style="color:green;">Rs. 0</span>

                </li>
				

            </ul>

            

            

        </div>

    </div>

    
    </div>

    </div>

 

    </div>