

#bar {height:35px;padding:15px 0;}

#loginContainer {
    position:relative;
    float:right;
    font-size:12px;
}

/* Login Button */
#loginButton { 

    float:right;

    z-index:30;
    cursor:pointer;
}

/* Login Button Text */
#loginButton span {
    display:block;
    background: #fb6327;
    border-radius: 50%;
    color: #fff;
    margin-right: -20px;
    padding: 11px 30px;
    font-size: 50px;
}

#loginButton:hover {
	text-decoration:blink;
}

/* Login Box */
#loginBox {
    position:absolute;
    top: 95px;
    right: -43px;
    display:none;
    z-index:29;
}

/* If the Login Button has been clicked */    
#loginButton.active {
    border-radius:3px 3px 0 0;
}

#loginButton.active span {
    background-position:53px -76px;
}

/* A Line added to overlap the border */
#loginButton.active em {
    position:absolute;
    width:100%;
    height:1px;
    background:#d2e0ea;
    bottom:-1px;
}

/* Login Form */
#loginForm {
    width: 182px;
    text-align: left !important;
    border-radius: 0;
    margin-top: 17px;
    background: #fff;
    padding: 0;
    border: solid 1px #ddd;
}

#loginForm fieldset {
    margin:0 0 12px 0;
    display:block;
    border:0;
    padding:0;
}

fieldset#body {
    background:#fff;
    border-radius:3px;
    -moz-border-radius:3px;
    padding:10px 13px;
    margin:0;
}

#loginForm #checkbox {
    width:auto;
    margin:1px 9px 0 0;
    float:left;
    padding:0;
    border:0;
    *margin:-3px 9px 0 0; /* IE7 Fix */
}

#body label {
    color:#3a454d;
    margin:9px 0 0 0;
    display:block;
    float:left;
}

#loginForm #body fieldset label {
    display:block;
    float:none;
    text-align: left;
    margin: 0 0 6px 10px;
}

/* Default Input */
#loginForm input {
    width:92%;
    border:1px solid #899caa;
    border-radius:3px;
    -moz-border-radius:3px;
    color:#3a454d;
    font-weight:bold;
    padding:8px 8px;
    box-shadow:inset 0px 1px 3px #bbb;
    -webkit-box-shadow:inset 0px 1px 3px #bbb;
    -moz-box-shadow:inset 0px 1px 3px #bbb;
    font-size:12px;
}

/* Sign In Button */
#loginForm #login {
    width:auto;
    float:left;
    background: #fb6327;
    color:#fff;
    padding:7px 10px 8px 10px;
    text-shadow: 0px -1px #a73c12;
    border: 1px solid #bb4415;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    margin:0 12px 0 0;
    cursor:pointer;
    padding:7px 2px 8px 2px; /* IE7 Fix */
}

/* Forgot your password */
#loginForm span {
    text-align: left;
    display:block;
	 border-bottom: #eeeeee 1px solid;
   padding: 0px 15px;
}

#loginForm span a {line-height: 38px;font-size: 14px;font-family: 'Poppins';color:#333;}

#loginForm span a:hover {
color:#fb6327;
}

input:focus {
    outline:none;
}